force-app/main/default/flows/Create_a_New_Contact_with_Mailing_and_Other_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Create a New Contact with Mailing and Other Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a New Contact with Mailing and Other Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Contact</name>
        <label>Create a Contact</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>Mailling_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>Mailing_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Mailing_Zip_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>Malling_State_Province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Malling_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCity</field>
            <value>
                <elementReference>Other_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCountry</field>
            <value>
                <elementReference>Other_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPostalCode</field>
            <value>
                <elementReference>Other_Zip_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherState</field>
            <value>
                <elementReference>Other_State_Province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherStreet</field>
            <value>
                <elementReference>Other_Street</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>ContactInfo</name>
        <label>ContactInfo</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MallingAddressInfoScreen</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MallingAddressInfoScreen</name>
        <label>MallingAddressInfoScreen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Toggle</targetReference>
        </connector>
        <fields>
            <name>Malling_Street</name>
            <fieldText>Malling Street</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mailling_City</name>
            <dataType>String</dataType>
            <fieldText>Mailling City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Malling_State_Province</name>
            <dataType>String</dataType>
            <fieldText>Malling State/Province</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mailing_Zip_Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>Mailing Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mailing_Country</name>
            <dataType>String</dataType>
            <fieldText>Mailing Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_Address_Info_Screen</name>
        <label>Other Address Info Screen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_a_Contact</targetReference>
        </connector>
        <fields>
            <name>Other_Street</name>
            <dataType>String</dataType>
            <fieldText>Other Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_City</name>
            <dataType>String</dataType>
            <fieldText>Other City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_State_Province</name>
            <dataType>String</dataType>
            <fieldText>Other State / Province</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Zip_Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>Other Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Country</name>
            <dataType>String</dataType>
            <fieldText>Other Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Toggle</name>
        <label>Toggle</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Other_Address_Info_Screen</targetReference>
        </connector>
        <fields>
            <name>IsMalingaddresssameasotherAddress</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is Maling address same as other Address?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ContactInfo</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
