force-app/main/default/flows/Update_All_Related_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Update_Case_Into_New_Collection</name>
        <label>Add Update Case Into New Collection</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>UpdateCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_The_Status_Of_Current_Case</name>
        <label>Change The Status Of Current Case</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Cases.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Update_Case_Into_New_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update All Related Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update All Related Cases</label>
    <loops>
        <name>Loop_Through_Cases</name>
        <label>Loop Through Cases</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_All_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_The_Status_Of_Current_Case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Cases</name>
        <label>Get All Cases</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_Cases</name>
        <label>Update All Cases</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>UpdateCases</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UpdateCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
